.ratings {
    width: 100%;
}

.ratings li {
    display: inline-block;
    font-weight: bold;
    width: 32%;
    text-align: center;
    font-size: 1.1em;
}

.ratings li img {
    margin-top: -5px;
    vertical-align: middle;
    margin-right: 10px;
}

.ratings a:link,
.ratings a:hover,
.ratings a:active,
.ratings a:visited {
    color: #f2f2f2  ;
    text-decoration: none;
}

.rating-icon.rotten-tomatoes {
    width: 30px;
    height: auto;
    margin-right: 6px;
}

.rating-icon.imdb {
    width: 38px;
    height: auto;
}

.rating-icon.metascore {
    width: 30px;
    height: auto;
}

.md-spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#settings-last-sync {
    opacity: 0.8;
}

.notification-item {
}

.notification-item .item-title {
    font-weight: bold;
}

.notification-item .item-media {
    width: 80px;
    height: 75px;
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.notification-item .item-thumbnail {
    width: 80px;
    height: auto;
}

.card-badges {
    width: 40%;
    overflow: auto;
}

.badge-entry.marked {
    background-color: green;
    padding: 3px 5px 3px 5px;
    color: white;
    display: block;
}

.badge-entry.not-marked {
    display: none;
}

.badge-entry {
    display: inline-block;
    width: 25px;
}

.card-header-pic .card-header {
    height: 60vw;
    background-size: 100% auto;
    background-position: center;
}

.card-header-full {
    height: 50vh;
    background-size: 100% auto;
    background-position: center;
}

.plot-text {

}

.plot-source,
.plot-source a:link,
.plot-source a:active,
.plot-source a:visited,
.plot-source a:hover {
    font-size: 0.9em;
    color: #afafaf;
}

.card {
    margin-bottom: 1.4em;
}

#btn-back {
    opacity: 0;
}

.item-buttons {
    height: 1em;
    width: 100%;
}

.item-actions {
    float: left;
}

.item-info {
    float: right;
}

.item-inline-buttons {
    padding: 10px 2px 5px 2px;
    height: 1.6em;
}

.item-inline-buttons a {
    margin-right: 0.3em;
}

div.watched {
    border: 1px solid green;
}

.material-icons {
    vertical-align: middle;
}

.block-title strong {
    font-size: 1.3em;
}

.infinite-scroll-preloader {
    margin-top:-20px;
    margin-bottom: 10px;
    text-align: center;
}
.infinite-scroll-preloader .preloader {
    width:34px;
    height:34px;
}
